# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Datos y modelos
datos/
data/
*.csv
*.pkl
*.bin
*.vec

# Credenciales
.env

# macOS
.DS_Store

# Editores
.vscode/
.idea/
